
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">WarehouseApp</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="active" href="/products">Products</a>
        <a class="nav-item nav-link" routerLinkActive="active" href="/suppliers">Suppliers</a>
        <a class="nav-item nav-link" routerLinkActive="active" href="/categories">Categories</a>
        <a class="nav-item nav-link" routerLinkActive="active" href="/brands">Brands</a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>