<div class="jumbotron py-3">
  <h1 class="display-4 text-center">Products</h1>
</div>

<div class="row">
    <div class="col-md-8">
        <input type="search" class="form-control form-control-lg" placeholder="Search..."  [(ngModel)]=serach><br>
        <table class="table">
            <thead class="thead-light"> 
                <tr>
                    <th scope="col" [appSort]="service.list" data-order="desc" data-name="id">Id</th>
                    <th scope="col" [appSort]="service.list" data-order="desc" data-name="productName">Product name</th>
                    <th scope="col" [appSort]="service.list" data-order="desc" data-name="brandName">Brand</th>
                    <th scope="col" [appSort]="service.list" data-order="desc" data-name="amount">Amount</th>
                    <th scope="col" [appSort]="service.list" data-order="desc" data-name="price">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list | filter: serach">
                    <td (click)="populateForm(pd)">{{pd.id}}</td>
                    <td (click)="populateForm(pd)">{{pd.productName}}</td>
                    <td (click)="populateForm(pd)">{{pd.brandName}}</td>
                    <td (click)="populateForm(pd)">{{pd.amount}}</td>
                    <td (click)="populateForm(pd)">{{pd.price}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <app-product-detail-form></app-product-detail-form>
    </div>
</div>

